<router-outlet></router-outlet>
<mat-card>
	<div class="formContainer">
		<p>Credit card details</p>
		<mat-form-field class="cc-container">
			<mat-label>Credit card number</mat-label>
			<input matInput [(ngModel)]="cardNumber" required />
    </mat-form-field>

			<mat-form-field class="cc-container">
				<mat-label>Card holder</mat-label>
				<input matInput [(ngModel)]="cardName" required />
    </mat-form-field>

				<mat-form-field class="cc-container">
					<mat-label>Expiration Date</mat-label>
					<input matInput [matDatepicker]="picker" [(ngModel)]="expiryDate" required />
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker touchUi #picker></mat-datepicker>
				</mat-form-field>

				<mat-form-field class="cc-container">
					<mat-label>Security code</mat-label>
					<input matInput placeholder="CCV" [(ngModel)]="securiyCode" maxlength="3"/>
    </mat-form-field>

					<mat-form-field class="cc-container">
						<mat-label>Amount</mat-label>
						<input matInput [(ngModel)]="amount" required />
    </mat-form-field>
						<div class="float-right">
							<button mat-button >Clear </button>
							<button mat-raised-button color="primary" (click)="submitData()">Submit </button>
						</div>
	</div>
</mat-card>
<div>